.carousel {
  width: 100%;
  position: absolute;
  height: 100%;
  display: block;
  visibility: visible;
  z-index: 0;
  background-color: white;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // This is the property that emulates background-size: cover
  }
}

.carousel > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slide animations */
.carousel > *:nth-child(1) {
  animation: switch1 10s infinite;
}
@keyframes switch1 {
  0% {
    visibility: visible;
    z-index: 0;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: visible;
    z-index: 0;
  }
}

.carousel > *:nth-child(2) {
  animation: switch2 10s infinite;
}
@keyframes switch2 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: visible;
    z-index: 0;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(3) {
  animation: switch3 10s infinite;
}
@keyframes switch3 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: visible;
    z-index: 0;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(4) {
  animation: switch4 10s infinite;
}
@keyframes switch4 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: visible;
    z-index: 0;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(5) {
  animation: switch5 10s infinite;
}
@keyframes switch5 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: visible;
    z-index: 0;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(6) {
  animation: switch6 10s infinite;
}
@keyframes switch6 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: visible;
    z-index: 0;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(7) {
  animation: switch7 10s infinite;
}
@keyframes switch7 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: visible;
    z-index: 0;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(8) {
  animation: switch8 10s infinite;
}
@keyframes switch8 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: visible;
    z-index: 0;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(9) {
  animation: switch9 10s infinite;
}
@keyframes switch9 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: visible;
    z-index: 0;
  }
  90% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(10) {
  animation: switch10 10s infinite;
}
@keyframes switch10 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  10% {
    visibility: hidden;
    z-index: -1;
  }
  20% {
    visibility: hidden;
    z-index: -1;
  }
  30% {
    visibility: hidden;
    z-index: -1;
  }
  40% {
    visibility: hidden;
    z-index: -1;
  }
  50% {
    visibility: hidden;
    z-index: -1;
  }
  60% {
    visibility: hidden;
    z-index: -1;
  }
  70% {
    visibility: hidden;
    z-index: -1;
  }
  80% {
    visibility: hidden;
    z-index: -1;
  }
  90% {
    visibility: visible;
    z-index: 0;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}
