.carousel {
  width: 100%;
  position: absolute;
  height: 100%;
  display: block;
  visibility: visible;
  z-index: 0;

  img {
    min-width: 1920x;
    max-width: 1920x;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // This is the property that emulates background-size: cover
  }
}

.carousel > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slide animations */
.carousel > *:nth-child(1) {
  animation: fade1 3s infinite;
}
@keyframes fade1 {
  0% {
    visibility: visible;
    z-index: 0;
  }
  33% {
    visibility: hidden;
    z-index: -1;
  }
  66% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: visible;
    z-index: 0;
  }
}

.carousel > *:nth-child(2) {
  animation: fade2 3s infinite;
}
@keyframes fade2 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  33% {
    visibility: visible;
    z-index: 0;
  }
  66% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(3) {
  animation: fade3 3s infinite;
}
@keyframes fade3 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  33% {
    visibility: hidden;
    z-index: -1;
  }
  66% {
    visibility: visible;
    z-index: 0;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}
