.carousel {
  width: 100%;
  position: absolute;
  height: 100%;
  display: block;
  visibility: visible;
  z-index: 0;
}

.carousel > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
}

/* Slide animations */
.carousel > *:nth-child(1) {
  animation: fade1 3s infinite;
  background-image: url(./../../media/slide1.png);
  background-size: cover;
}
@keyframes fade1 {
  0% {
    visibility: visible;
    z-index: 0;
  }
  33% {
    visibility: hidden;
    z-index: -1;
  }
  66% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: visible;
    z-index: 0;
  }
}

.carousel > *:nth-child(2) {
  animation: fade2 3s infinite;
  background-image: url(./../../media/slide2.png);
  background-size: cover;
}
@keyframes fade2 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  33% {
    visibility: visible;
    z-index: 0;
  }
  66% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}

.carousel > *:nth-child(3) {
  animation: fade3 3s infinite;
  background-image: url(./../../media/slide3.png);
  background-size: cover;
}
@keyframes fade3 {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  33% {
    visibility: hidden;
    z-index: -1;
  }
  66% {
    visibility: visible;
    z-index: 0;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}
