@import './../../scss/a_variables';

// keep header nav on desk above modal
body.modal_open {
  header a svg.logo {
    @media screen and (min-width: $small) {
      z-index: 9999;
      fill: white;
    }
  }
  header .flex_container .flex_child .btn_1 {
    @media screen and (min-width: $small) {
      z-index: 9999;
      border: 2px solid white;
      color: white;
      background-color: transparent;
      &:hover {
        border: 2px solid white;
        color: black;
        background-color: white;
      }
    }
  }
  header .flex_container .flex_child .btn_2 {
    @media screen and (min-width: $small) {
      z-index: 9999;
      border: 2px solid white;
      color: black;
      background-color: white;
      &:hover {
        border: 2px solid white;
        color: white;
        background-color: transparent;
      }
    }
  }
  header svg.insta {
    @media screen and (min-width: $small) {
      z-index: 9999;
      fill: transparent;
      stroke: white;
      &:hover rect,
      &:hover circle {
        stroke: black;
      }
    }
  }
  header svg.vimeo {
    @media screen and (min-width: $small) {
      z-index: 9999;
      fill: #fff;
      &:hover path {
        fill: #010101;
      }
    }
  }
}
//overide mui white bg
body .MuiPaper-root.MuiPaper-elevation {
  background-color: transparent;
}
.flex_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);

  .flex_child {
    position: relative;
    width: 300px;
    height: 334px;
    margin: auto;
    .MuiButtonBase-root {
      position: absolute;
      right: -8px;
      top: -40px;
      .MuiSvgIcon-root {
        fill: white;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .container {
      width: 280px;
      input {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        padding: 6px;
        margin: 10px 0;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      textarea {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        border-radius: 5px;
        padding: 6px;
        margin: 10px 0;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      .btn {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        border-radius: 5px;
        width: 120px;
        display: block;
        margin: 0 auto;
        color: white;
        padding: 10px;

        &:hover {
          background-color: white;
          color: $grey;
          cursor: pointer;
        }
      }
    }
  }
}
