@import './../../scss/a_variables';

// keep header nav on desk above modal
body.modal_open {
  header a svg.logo {
    z-index: 9999;
    fill: white;
    &:hover {
      filter: invert(30%);
    }
  }
  header .flex_container .flex_child .btn_1 {
    @media screen and (min-width: $small) {
      z-index: 9999;
      border: 2px solid white;
      color: black;
      background-color: white;
      &:hover {
        border: 2px solid black;
        color: white;
        background-color: black;
      }
    }
  }
  header .flex_container .flex_child .btn_2 {
    @media screen and (min-width: $small) {
      z-index: 9999;
      border: 2px solid white;
      color: black;
      background-color: white;
      &:hover {
        border: 2px solid black;
        color: white;
        background-color: black;
      }
    }
  }
  header svg.insta {
    z-index: 9999;
    fill: transparent;
    stroke: white;
    &:hover rect,
    &:hover circle {
      stroke: black;
    }
  }
  header svg.vimeo {
    z-index: 9999;
    fill: #fff;
    &:hover path {
      fill: #010101;
    }
  }
}
//overide mui white bg
body .MuiPaper-root.MuiPaper-elevation {
  background-color: transparent;
}
.flex_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);

  .flex_child {
    position: relative;
    width: 280px;
    height: 334px;
    margin: auto;
    @media screen and (min-width: $small) {
      width: 375px;
      height: 375px;
    }
    .MuiButtonBase-root {
      position: absolute;
      right: -8px;
      top: -40px;
      @media screen and (min-width: $small) {
        right: -12px;
      }
      .MuiSvgIcon-root {
        fill: white;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .container {
      width: 100%;
      input {
        width: -webkit-fill-available;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid white;
        border-radius: 10px;
        padding: 6px;
        margin: 10px 0;
        color: white;
        @media screen and (min-width: $small) {
          padding: 12px;
        }
        &::placeholder {
          color: white;
        }
      }
      textarea {
        width: -webkit-fill-available;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid white;
        border-radius: 10px;
        padding: 6px;
        margin: 10px 0;
        color: white;
        @media screen and (min-width: $small) {
          padding: 12px;
        }
        &::placeholder {
          color: white;
        }
      }
      .btn {
        font-size: 0.875rem;
        background-color: white;
        border: 2px solid white;
        border-radius: 10px;
        width: 120px;
        display: block;
        margin: 0 auto;
        color: black;
        padding: 10px;
        font-weight: 500;
        font-family: 'arial_novabold';
        letter-spacing: -1px;
        &:hover {
          background-color: black;
          color: white;
          cursor: pointer;
          border: 2px solid black;
        }
      }
    }
  }
}
